@namespace xlink 'http://www.w3.org/1999/xlink';

@font-face {
    font-family: GothamPro;
    src: url(fonts/GothamPro.ttf);
}

@font-face {
    font-family: "JosefinSans";
    src: url(fonts/JosefinSans-Regular.ttf);
}

@font-face {
    font-family: Inc;
    src: url(fonts/Inc.ttf);
}

@font-face {
    font-family: GothamProLight;
    src: url(fonts/GothamProLight.ttf);
}

@font-face {
    font-family: GothamProRegular;
    src: url(fonts/GothamProRegular.ttf);
}

html {
    overflow: scroll;
    height: 100%;
}


section{
    height: 100%;
}
nav {
    padding: 0;
!important
}

.dot-bg {
    background: linear-gradient(90deg, #040d21 21px, transparent 1%) center, linear-gradient(#040d21 21px, transparent 1%) center, #a2facf;
    background-size: 22px 22px;
}

.top-navigation div.container {
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
}

svg image[xlink|href*="temp"] {
    outline: 3px solid red;
}

.body-text {
    font-size: 1.5vw;
    font-weight: 400;
    line-height: 1.85;
    letter-spacing: .2px;
    max-width: 600px;
}

.text-container {
    padding: 5%;
    width: 70%;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height: 100%;

}

.center-col div.text-container {
    margin: 0px;
    width: 100%;
}

.footer ul li a, .service-block ul li a {
    display: block;
    color: white;
    text-decoration: none;
    text-align: center;
    list-style: none;

}

.footer a {
    float: left;
    padding: 10px;
}

.body-text a {
    text-decoration: none;
    text-underline: none;
    color: black;
}

a:hover {
    text-decoration: none;
    text-underline: none;
}

.body-text a:hover {
    text-decoration: none;
    text-underline: none;
    color: #64acff;
}

.navbar {
    height: 70px;
    padding: 0 6% 0 6%;
}

.top-navigation div.navbar {
    padding: 0 6% 0 6%;
}

/*burger menu*/
.top-navigation {
    z-index: 100;
    position: absolute;
    width: 100%;
}

/* Icon 1 */

#burger-container {
    padding: 10px;
    /*right: 0;*/
    width: 50%;
    /*margin-left: auto;*/
    height: max-content;
    /*position: absolute;*/
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: crosshair;
}

#burger-container div.burger-tab {
    /*display: block;*/
    position: relative;
    height: 5px;
    width: 100%;
    background-color: #FF7170;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

#burger-container div.burger-tab:hover {
    background: -webkit-linear-gradient(
            -70deg, #ff7170, #ffe57f);
    width: 100%;


}


#burger-container div.burger-tab:nth-child(1) {
    top: 0px;
}

#burger-container div.burger-tab:nth-child(2) {
    top: 12px;
}

#burger-container div.burger-tab:nth-child(3) {
    top: 24px;
}

#burger-container.open div.burger-tab:nth-child(1) {
    top: 18px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}

#burger-container.open div.burger-tab:nth-child(2) {
    opacity: 0;
    left: -60px;
}

#burger-container.open div.burger-tab:nth-child(3) {
    top: 18px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
}


/*Layout columns*/


.landing {
    /*background-color: #f2f2f2;*/
    background-image: url("bg.svg");
    background-repeat: no-repeat;
    background-position: right;
}

.body-bg {
    background-image: url("bg.svg");
    background-repeat: no-repeat;
    background-position: right;
}

.left-col {
    background-color: #0c5460;
}

.right-col {
    background-color: #1c7430;
}

.vert-90 {
    transform: rotate(-90deg);

}

/*vertical text*/
.vertical-text, .text-bar {
    transform: rotate(-90deg);
    transform-origin: right bottom 0;

    display: inline-flex;
    float: right;
    position: absolute;
    right: 30px;
    text-align: left;
    font: normal normal bold 31px/41px Segoe UI;
    letter-spacing: 0px;
    color: #0511F2;
    opacity: 1;
}

.text-bar {
    width: 3px;
    height: 210px;
    border: none;
    opacity: 1;
    background: #0511F2;
}

/*titles*/

.title-block {
    /*margin-left: 93px;*/

    text-align: left;
    font-family: "GothamPro";
    font-size: 6.5vw;
    letter-spacing: 0px;

    opacity: 1;
}

.title {
    font-size: 50px;
    font-family: "GothamPro";

}

.vert-section {
    transform: rotate(-90deg);
    transform-origin: right bottom 0;
    display: inline-flex;
    float: right;
    position: absolute;
    right: 30px;
    text-align: left;
    font: normal normal bold 31px/41px Segoe UI;
    letter-spacing: 0px;
    color: #0511F2;
    opacity: 1;
}

.vert-line {
    display: block;
    width: 80%;
    position: relative;
    text-align: right;
}

.vert-line:after {
    /* this is the black line */
    content: '';
    display: block;
    width: 100%;
    position: absolute;
    right: 44px;
    top: 50%;
    border-top: 3px solid #64ACFF;
    z-index: 1;
}

.line-hide {
    /* this is to cover the black line under the text*/
    position: relative;
    display: inline-block;
    padding-left: 10px; /* however much space you want before the line */
    /*background-color: #ffffff; !* bacground colour of the page - hides the line *!*/
    z-index: 2;
    margin-left: 70px;
}

/*text wrapper*/
.sm-text-wrapper, .testimonial-wrapper {
    width: 100%;
    flex-wrap: wrap;
    display: flex;

}

.testimonial-wrapper {
    bottom: 120px;
    position: absolute;
    color: white;
}

.text-sup {
    font-family: fantasy;
    font-size: 100px;
}

.landing-text-block {
    /*padding: 0px 93px 0px 93px;*/
}

/*sections*/

.service-section-left {
    background-color: #f2f2f2;
}

.service-section-right {
    /*background-color: #707070;*/
}

/*blocks*/
.service-block {
    text-align: left;
    letter-spacing: 0px;
    opacity: 1;
}

.section-title {
    font-family: "GothamPro";
}


.number {
    font-family: 'Inc';
    font-size: 24px;
    top: -40px;
}

.service-block p {
    /*color: white;*/
}


.footer > div {
    background-color: black;
}

.footer {
    position: absolute;
    left: 0;
    width: 100%;
    top: auto;
    overflow-wrap: break-word;

}

div.footer.service-section-left > .service-block {
    color: white;
    margin-top: 91px;
}

#menu {
    display: none;
    background-color: black;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 70;
}

#menu .section-title {
    font-size: 40px;
    color: white;
}

#menu p {
    color: white;
}

#menu li, .footer li {
    list-style: none;
    text-decoration: none;
}

.founder {
	background-repeat: no-repeat;
	background-image: url(3dlogo.png);
	background-position: center;
	background-blend-mode: multiply;
	background-color: #97ecd8;
	background-size: 200%;
	background-position-x: 60%;

}

/*banner*/

div .vert-banner {

    border-left: .5px solid rgb(0 123 255 / 0.25);
    border-right: .5px solid rgb(0 123 255 / 0.25);
    /*background-color: #f2f2f2;*/
    /*color: black;*/
    border-style: none solid none solid;
    display: flex;
    align-items: center;
}

.banner-wrapper {
    width: 100%;
    flex-wrap: wrap;
    display: flex;
}

.banner-text .hori-line {
	display: block;
	position: relative;
	text-align: right;
	/* left: -20px; */
	width: 40%;
}
.banner-text .hori-section {
	position: absolute;
	bottom: 0;
	width: 100%;
	padding: 2%;
}
.logo-bg {
    background-image: url("bg.svg");
    background-repeat: no-repeat;
    background-position: right bottom;
}


/*pages*/
#service-page {
    overflow: hidden;
}


span.number > div.section-title {
    font-size: 30px;
}

/*paddings*/

.p-20 {
    padding: 0 24px 0 24px;
}

/*texts*/
.subtitle {
    font-size: 30px;
    font-family: "GothamPro";

}

.body {
    font-size: 15px;
    font-family: "GothamProRegular";
}

/*misc*/
.hori-line {
    display: block;
    position: relative;
    text-align: right;
    /* left: -20px; */
    width: 20%;
}


.hori-section {
    /*transform-origin: right bottom 0;*/
    /*display: inline-flex;*/
    /*float: right;*/
    /*position: absolute;*/
    /*right: 30px;*/
    /*text-align: left;*/
    /*font: normal normal bold 31px/41px Segoe UI;*/
    /*letter-spacing: 0px;*/
    color: #FF7170;
    opacity: 1;
    font-family: "GothamPro";
}

.hori-line::after {
    content: '';
    display: block;
    width: 34%;
    position: absolute;
    right: 65%;
    top: 50%;
    border-top: 3px solid #FF7170;
    z-index: 1;
}

.hori-section a {
    color: #FF7170;
}

.hori-line-hide {
    /* this is to cover the black line under the text*/
    position: relative;
    display: inline-block;
    padding-left: 30px;
    /*background-color: #f2f2f2;*/
    z-index: 2;
    transition: .5s ease-out;

    /* margin-left: 70px; */
    /* left: -50%; */

}

.hori-line-hide:hover {
    padding-left: 45%;
}

.interactive-scroller__cursor-container, .interactive-scroller__line-container {
    transform-origin: 0 0;
    height: 150px;
    top: 50%;
    right: 0;
}

.interactive-scroller__line {
    position: relative;
    bottom: 0;
    left: 50%;
    height: 150px;
    width: 1px;
    background-color: currentColor;
    transform-origin: 0 0;
    transform: scaleY(.33333);
}

.interactive-scroller__label {
    bottom: 100%;
    left: 50%;
    writing-mode: vertical-lr;
    text-orientation: mixed;
    color: currentColor;
    transform: scale(-1) translateX(50%);
    margin-bottom: 20px;
}

div.service-block + div {
    /*margin-top: 70px;*/
}

#text-12, #text-22, #text-32 {
    /*display: none;*/
}

#text-1 {
    /*display: block;*/
}

.icons {
    align-items: center;
    position: absolute;
    bottom: 20px;
    top: auto;
    left: 0;
    right: 0;
}

.icon-item {
    padding: 7px;

}

.icon-item svg {
    fill: #FF7170;

    width: 24px;
}

.icon-item svg:hover {
    fill: #64acff;

}

.landing-vert-line {
    display: block;
    width: 90%;
    position: relative;
    text-align: right;
}

.landing-vert-section {
    transform: rotate(-90deg);
    position: relative;
    font-size: 20px;
    font-family: "GothamPro";
    letter-spacing: 0px;
    color: black;
    opacity: 1;
    top: 40%;
}


/*colors*/

#process-page div#burger-container {
    z-index: 100;
    padding: 10px;
    right: 10px;
    width: 60px;
    /* margin-left: auto; */
    height: max-content;
    position: absolute;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: crosshair;

}

.sidebar {
    position: absolute;
    z-index: 100;
    right: 0;
    height: 100%;
    font-family: "Lato";
}

.work-float {
    position: absolute;
    right: -14%;
    width: 170%;
    top: 4%;
}


.pink {
    background: #F98B88;
}

li .service-block {
    padding: 20px;
    margin: 5px;
}

.works-logo-container {

    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
    width: 100%;

}

.pc-screen {
    width: 100%;
}

.pc-screen:hover {
    /*width: 1500px;*/
    /*z-index: 5;*/
    /*position: relative;*/
}

.mobile-screen {
    width: 90%;
}

.mobile-screen:hover {
    /*width: 750px;*/
    /*z-index: 5;*/
    /*position: relative;*/

}

.half-num {
    font-size: 247px;
    margin-left: -77%;
    transition: margin-left .7s ease-out;
}

.half-num.slide-right {
    font-size: 247px;
    margin-left: 0%;
    margin-right: 0%;

}

#service-page .vert-banner:nth-child(1), #process-page .vert-banner:nth-child(1) {
    z-index: 3;
}

#service-page .vert-banner:nth-child(2), #process-page .vert-banner:nth-child(2) {
    z-index: 2;
}

#process-page .vert-banner:nth-child(3) {
    z-index: 1;
}

.light-brown {
    background-color: #f3e0cc;
}

.works-page {
    overflow: hidden;
}

.social-wrapper {
    height: 6%;
    overflow: hidden;
    transition: height .5s ease-out;
}

.social-wrapper:hover {
    height: 30%;
}

.dark-green {
    background-color: #2e7453;
}

.black {
    color: black;
}

.services-bg {
    background-image: url("tech-meeting-flatlay.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.light-pink {
    background-color: #f48886;
}

.form-input {
    width: 100%;
    margin: 10px;
    border-bottom: 2px solid #040d21;
    border-top: none;
    border-left: none;
    border-right: none;
    height: 60px;

}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

/*slider*/

.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 25px;
    /*background: #D3D3D3;*/
    outline: none;
    opacity: 1;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #0511F2;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #0511F2;
    cursor: pointer;
}

.sliderticks {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}

.sliderticks p {
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 1px;
    background: #D3D3D3;
    height: 10px;
    line-height: 40px;
    margin: 0 0 20px 0;
}

.range {
    width: 70%;
}

.bg-blue {
    background-color: #0511f2;
}

.overflow-y-scroll {
    overflow-y: scroll;
}

#contact-form {
	width: 80%;
	height: 500px;
}

.custom-control {
    padding: 10px;
}

.submit-btn {
    width: 100%;
    color: white;
    height: 50px;
    border-style: none;
    /*box-shadow: 0 1rem 3rem rgba(5, 17, 242, 0.57) !important;*/
    background: -webkit-linear-gradient(
            -70deg, #db469f, #2188ff);
    -webkit-box-decoration-break: clone;

}

.left {
    display: flex;
    align-items: center;
    justify-content: left;
}

.text-blue {
    color: #0511f2;
}

.works-info-container {
    display: block;
    position: absolute;
    justify-content: start;
    /* height: 100%; */
    align-items: flex-end;
    width: 100%;
    /*padding: 20px;*/
    /* bottom: -500px; */
    top: 88%;
}

.works-info-container img {

    margin-right: 10px;
}

.gotham-bold {
    font-family: "GothamPro";
}

.sm-text-wrapper li {
    padding: 5px;
    margin: 5px;
    vertical-align: middle;
    list-style: none;

}

.sm-text-wrapper svg {
    margin-right: 17px;
}

.stack {
    /*margin-bottom: auto;*/
    /*!*display: flex;*!*/
    /*!* align-items: end; *!*/
    /*position: absolute;*/
    /*top: auto;*/
    /*bottom: 0;*/
    /*left: 0;*/
    /*right: 0;*/
}

.stack svg, .stack img {
    margin: 20px;
}

.work-logo {
    width: 200px;
    height: 79.9px;
}

svg text {
    font-family: "JosefinSans";
}

.bg-black {
    background: black;
}

.text-bg {
    background: -webkit-linear-gradient(
            -70deg, #a2facf, #64acff);
    -webkit-background-clip: text;

    -webkit-text-fill-color: transparent;
    -webkit-box-decoration-break: clone;
}

a.text-bg {
    background: -webkit-linear-gradient(
            -70deg, #faa2a2, #64acff);
    -webkit-background-clip: text;

    -webkit-text-fill-color: transparent;
    -webkit-box-decoration-break: clone;

}

.dark-blue-bg {
    background-color: #0c162d;
}

.text-light-grey {
    color: #8193b2 !important;
}

.vert-line.text-bg {
    background: -webkit-linear-gradient(
            8deg, #a2facf, #64acff);
}

.text-pink-blue-bg {
    background: -webkit-linear-gradient(
            -70deg, #db469f, #2188ff);
    -webkit-text-fill-color: transparent;
    -webkit-box-decoration-break: clone;
}

.text-orange-bg, .text-bg:hover {
    background: -webkit-linear-gradient(
            -70deg, #ff7170, #ffe57f);
    -webkit-background-clip: text;

    -webkit-text-fill-color: transparent;
    -webkit-box-decoration-break: clone;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;

    padding: 10px;
}

.grid-item {


    padding: 20px;

    text-align: left;
}



.grid-item:hover{
    box-shadow: 0 1rem 3rem rgba(0, 255, 198, 0.13);
}

.grid-item svg {
    width: 50px;
    height: 70px;
}

.logo {
    width: 80px;
}

.grid-container svg {
    fill: #FF7170;
}

.logo:hover {
    stroke: #FF7170;
}

#text-1:hover span {
    display: none
}

#text-1:hover:before {
    content: "Different."
}

#text-2:hover span {
    display: none
}

#text-2:hover:before {
    content: "Agilely."
}

#text-3:hover span {
    display: none
}

#text-3:hover:before {
    content: "Seamlessly."
}


.banner-text svg {
    fill: #FF7170;

}

.team-card {
    height: 500px;
    width: 300px;
    margin: 20px;
    border-radius: 44px;
}

.cjay-bg {
    background-image: url("team/mugshot_md.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.zulu-bg {
    background-image: url("team/mk_sm.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.bottom {
    position: absolute;
    bottom: 0;
    left: 0;

}

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {

    perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner, .flip-card:hover .flip-card:active .flip-card-inner{
    transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
    background-color: white;
    color: white;
    border-radius: 44px;
}

/* Style the back side */
.flip-card-back {
    background-color: #040d21;
    color: white;
    transform: rotateY(180deg);
    border-radius: 44px;
    text-align: justify;
}

.team-card-footer-text {
    padding: 10px;
    display: block;
    width: 100%;
}

.slider {
    display: none;
}
#contact-section{
    height: 100vh !important;
}
.mobile-view {
    display: none;
}

.column {
    display: flex;
    flex-direction: column;
}

.laptop-mobile {
    width: 1500px;
}

.page-container {
    flex-direction: row;

}
.site-footer
{
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer svg:hover
{
 fill: white;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{

  line-height:40px;
  margin-left:6px;
  margin-right:0;

}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}

@media (max-width: 768px) {
      .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
    .title-block {
        /*margin-left: 93px;*/

        font-size: 60px;

    }

    .body-text {
        font-size: 14px;
        font-weight: 400;
        line-height: 1.85;
        letter-spacing: .2px;
        max-width: 90%;
    }

    #s-1 .text-container {
        /*padding: 5%;*/
        /*width: 70%;*/
        margin-right: auto;
        margin-left: auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        align-content: start;
        height: 100%;

    }

    .landing-vert-section {
        display: none;
    }

    #burger-container {
        padding: 10px;
        width: 70px;

    }

    .social-wrapper {
        hheight: 6%;
    }

    .hori-line {
        text-align: center;
        width: 100%;
    }

    #s-1 .landing {
        /*background-color: #f2f2f2;*/
        background-image: none;

    }

    #s-2 .text-container {
        width: 100%;
        padding: 5px;
    }

    .subtitle {
        font-size: 20px;
    }

    #s-2 .sm-text-wrapper {
        font-size: 14px;

    }

    #s-2 .vh-100 {
        height: fit-content;
    }

    ul, body {
        margin: 0;
        padding: 0;
    }

    .slider {
        box-sizing: border-box;
        /*background: black;*/
        width: 100%;
        height: 100vh;
        overflow: hidden;
        display: block;
    }

    .slider .slides-container {
        display: flex;
        width: 100%;
        height: 100%;
        cursor: -webkit-grab;
        cursor: grab;
        transition: transform .5s;
    }

    .slider:active .slides-container {
        cursor: -webkit-grabbing;
        cursor: grabbing;
    }

    .slider .slides-container.moving {
        transition: none;
    }

    .slider .slides-container.moving .slide {
        transition: none;
    }

    .slider .slides-container.moving .parallax {
        transition: none;
    }

    .slider .slide {
        position: relative;
        display: block;
        width: 100%;
        height: 100%;
        /*background: #0c162d;*/
        opacity: .8;
        transform: scale(.9);
        transform-origin: center;
        transition: transform .5s, opacity .5s;
    }

    .slider .slide.current {
        opacity: 1;
        transform: scale(1);
    }

    .slider .slide .parallax {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        pointer-events: none;
        transition: transform .5s, opacity .5s;
    }

    .slider .slide.current .parallax {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }

    .slider .slide .parallax {
        position: absolute;
        /*top: 50%;*/
        left: 0;
        right: 0;
        transform: translateY(-50%);
    }

    .grid-item {
        text-align: center;
        padding: 36px;
    }

    .grid-container {
        display: grid;
        grid-template-columns: auto;
        padding: 10px;
    }

    .text-white.col-lg-7 {
        display: none;
    }

    .services-bg {
        display: none;
    }

    .works-box-container {
        width: calc(100vw - 30px - 30px - 70px) !important;
        height: 425px !important;
        margin-right: 16px;
        margin-bottom: 0;
        display: block;
    }

    .footer-text {
        width: 100%;
        bottom: 15%;
        left: 0;
        padding: 0 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 18px;
        margin-top: 10%;
        color: white;
    }

    #s-3 .col-lg-6, #s-3 .col-lg-6 {
        display: none;
    }

    .arrow-icon {
        position: relative;
        top: 2px;
        margin-right: 31px;
        transition: transform .3s ease;
    }

    .service-section-right, .service-section-left {
        display: none;
    }

    /*.slider .slide:nth-child(6n+2) { background: #e74c3c; }*/
    /*.slider .slide:nth-child(6n+3) { background: #3498db; }*/
    /*.slider .slide:nth-child(6n+4) { background: #9b59b6; }*/
    /*.slider .slide:nth-child(6n+5) { background: #34495e; }*/
    /*.slider .slide:nth-child(6n+6) { background: #f1c40f; }*/
    .works-mobile-card {
        height: 100%;
        width: 100%;
    }

    .mobile-padding {
        padding: 15px;
    }

    #s-3 img {
        width: 50%;
    }

    #s-3 .landing {
        background-blend-mode: luminosity;
        background-position: bottom;
    }

    .work-logo {
        height: 55px;
        width: auto;
        margin-top: 7%;
    }

    .smart-scroll {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .scrolled-down {
        transform: translateY(-100%);
        transition: all 0.3s ease-in-out;
    }

    .scrolled-up {
        transform: translateY(0);
        transition: all 0.3s ease-in-out;
    }

    #burger-container {
        /* padding: 10px; */
        width: 110px;
        padding: 35px;
    }

    .icon-item svg {
        fill: #FFF;
    }

    .founder {
        display: none;
    }

    #menu .section-title {
        font-size: 20px;
        color: white;
    }

    .icons {
        align-items: center;
        position: absolute;
        bottom: 0%;
        top: auto;
        left: 0;
        right: 0;
    }

    #s-3 .subtitle {
        color: white;
    }

    .mobile-view {
        display: block;
        width: 100%;
    }

    .mobile-view.vert-banner {
        display: flex;
    }

    .row .col-sm-4, .col-lg-8 .pc, .col-lg-4 .mobile {
        display: none;
    }

    .works-page .col-sm-4 {
        display: none;
    }

    .mobile-screen {
        width: 100%;
    }

    .stack svg, .stack img {
        margin: 10px;
        width: 24px;
    }

    .stack {
        text-align: center;
    }

    .works-page .text-container {
        padding: 15% 10% 10% 10%;
        width: 100%;
    }

    .laptop-mobile {
        width: 100%;
    }

    #burger-container div.burger-tab:nth-child(1) {
        top: 0px;
    }

    #burger-container div.burger-tab:nth-child(2) {
        top: 6px;
    }

    #burger-container div.burger-tab:nth-child(3) {
        top: 12px;
    }
    .team-container {
        flex-direction: column;
    }
    #contact-page .page-container{
        flex-direction: column;
    }
    .contact-info-container {
        overflow-wrap: break-word;
    }
    #contact-form {
	width: 90%;
	height: 700px;
}
    #contactForm{
	height: 85%;
}
#s-1{
    height: 100vh !important;
}
.form-container{
    width: 50%;
}
#contact-section{
    height: 100% !important;
}
}


