{% extends "base.html" %}

{% block title %}Company{% endblock %}

{% block head %}
    {{ super() }}

{% endblock %}


{% block description %}content="We are a team of young talented and passionate people working and
    collaborating together in a fast and efficient way to drive the best
    results."{% endblock %}

{% block keywords %}content="web development,terms,antratech, UI design, Design , Shopify , HTML, CSS, React.js,
    studio,frontend development,API"{% endblock %}


{% block nav %}
    {{ super() }}
{% endblock %}

{% block sidebar %}
    {{ super() }}
{% endblock %}
{% block body %}
    <section class="bg-light center" id="contact-section">
        <div class="row   mobile-margin no-gutters">

            <div class="center-col  col-md-6 col-md-6 col-md-6 ">
                <div class="text-container ">
                    <div class="title-block text-light-grey">
                        <div id="" class="text-bg"><span id="">The A-team.</span></div>


                    </div>
                    {#<ul>#}
                    {#                        <li class="active"><a class="scroll" href="#s-1">Home</a></li>#}
                    {#                        <li class=""><a class="scroll" href="#s-2">Services</a></li>#}
                    {#                        <li class=""><a class="scroll" href="#s-3">Works</a></li>#}
                    {#                        <li class=""><a class="scroll" href="#s-4">Contact</a></li>#}
                    {#                    </ul>#}
                    <div class="sm-text-wrapper  w-100">
                        <p class="body-text">Antratech Studios is a design technology company specialized in delivering
                            top-notch web applications for businesses. We design
                            ,develop and deliver fully customized web applications that suit your business needs , using
                            industry leading technologies.

                            We integrate your business strategy and our technology expertise into the whole design and
                            development process to create a working product that will not only mirror your brand but
                            also enhance customers' trust in brand value.</div>
                    <div class="hori-section">
                    <span class="hori-line"><span class="hori-line-hide cta-text body-text"><a class=""
                                                                                               href="{{ url_for('contact') }}">Work with Us</a></span></span>
                    </div>

                </div>


            </div>
            <div class="col-md-6 center col-md-6 col-md-6">
                <div class="d-flex team-container">

                    <div class="flip-card team-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front cjay-bg">
                                <p class="body text-white  team-card-footer-text bottom">Founder & CEO</p>

                            </div>
                            <div class="flip-card-back p-3">
                                <h3 class="text-bg">John Oula</h3>
                                <p></p>
                            </div>
                        </div>
                    </div>
                    <div class="flip-card team-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front zulu-bg">
                                <p class="body text-white  team-card-footer-text bottom">CTO</p>

                            </div>
                            <div class="flip-card-back p-3">
                                <h3 class="text-bg">Mkhuzo Zulu</h3>
                                <p></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </section>

{% endblock %}

{% block footer %}
    {{ super() }}
{% endblock %}
{% block script %}
    {{ super() }}

{% endblock %}

