{% extends "base.html" %}

{% block title %}{{ super() }}{% endblock %}

{% block head %}
    {{ super() }}

{% endblock %}




{% block nav %}
    {{ super() }}
{% endblock %}

{% block sidebar %}
    {{ super() }}
{% endblock %}
{% block body %}
    <section class="bg-light center" id="contact-section">
        <div class="row    no-gutters">

            <div class="center-col  col-md-6 col-md-6 col-md-6 ">
                <div class="text-container ">
                    <div class="title-block text-light-grey">
                        <div id="" class="text-bg"><span id="">The A-team.</span></div>


                    </div>
                    {#<ul>#}
                    {#                        <li class="active"><a class="scroll" href="#s-1">Home</a></li>#}
                    {#                        <li class=""><a class="scroll" href="#s-2">Services</a></li>#}
                    {#                        <li class=""><a class="scroll" href="#s-3">Works</a></li>#}
                    {#                        <li class=""><a class="scroll" href="#s-4">Contact</a></li>#}
                    {#                    </ul>#}
                    <div class="sm-text-wrapper  w-100">
                        <p class="body-text">We are a design technology company specialized in delivering high-end
                                custom
                                web
                                applications for businesses using industry leading technologies.Watch us
                                turn your idea to a working product
                                that will mirror your brand.</div>
                    <div class="hori-section">
                    <span class="hori-line"><span class="hori-line-hide cta-text body-text"><a class=""
                                                                                               href="{{ url_for('contact') }}">Work with Us</a></span></span>
                    </div>

                </div>


            </div>
            <div class="col-md-6 center col-md-6 col-md-6">
                <div class="d-flex team-container">

                    <div class="flip-card team-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front cjay-bg">
                                                            <p class="body text-white  team-card-footer-text bottom">Founder & CEO</p>

                            </div>
                            <div class="flip-card-back p-3">
                                <h3 class="text-bg">John Oula</h3>
                                <p>With a background in UI Design and Full-stack Development. </p>
                            </div>
                        </div>
                    </div>
                    <div class="flip-card team-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front zulu-bg">
                                                            <p class="body text-white  team-card-footer-text bottom">CTO</p>

                            </div>
                            <div class="flip-card-back p-3">
                                <h3 class="text-bg">Mkhuzo Zulu</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A atque cumque in ipsam,
                                    ipsum laborum magnam obcaecati quia quis suscipit tempore vero. Amet beatae fugiat
                                    iure, quidem quod sequi vitae. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </section>
{% endblock %}

{% block footer %}
    {{ super() }}
{% endblock %}
{% block script %}
    {{ super() }}

{% endblock %}

