{% extends "base.html" %}

{% block title %}{{ super() }}{% endblock %}

{% block head %}
    {{ super() }}

{% endblock %}




{% block nav %}
    {{ super() }}
{% endblock %}


{% block body %}
    <div class="row vh-100 landing no-gutters">
        <div class="center-col ">
            <div class="landing-text-block ">
                <div class="title-block">
                    <div id="text-1">Design.</div>
                    <div id="text-2">Develop.</div>
                    <div id="text-3">Deliver.</div>

                </div>
                <div class="vert-section">
                    <span class="vert-line"><span class="line-hide">Scroll</span></span>
                </div>

                <div class="sm-text-wrapper">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur dolorem nam nostrum quam,
                        sapiente veritatis voluptate? Accusantium aliquid animi iusto mollitia nobis nulla, quisquam
                        reprehenderit? Dolores fuga officia quam repellendus!</p>
                </div>
            </div>


        </div>

        {#        <div class="left-col vh-100 col-sm-2 col-lg-2 col-xl-2">#}
        {##}
        {#        </div>#}

        {#<div class="right-col vh-100 col-sm-1 col-lg-1 col-xl-1">#}
        {##}
        {#</div>#}
    </div>
    <div class="row vh-100 service-section no-gutters">
        <div class="service-section-left col-lg-8 col-sm-8 col-xl-8 col-md-8">
            <div class="service-block landing-text-block ">
                <div class="section-title"><sup class="number">01</sup>Web Development.</div>
                <div class="sm-text-wrapper">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur dolorem nam nostrum quam,
                        sapiente veritatis voluptate? Accusantium aliquid animi iusto mollitia nobis nulla, quisquam
                        reprehenderit? Dolores fuga officia quam repellendus!</p>
                </div>


            </div>
            <div class="service-block landing-text-block ">
                <div class="section-title"><sup class="number">02</sup>User Interface Design.</div>
                <div class="sm-text-wrapper">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur dolorem nam nostrum quam,
                        sapiente veritatis voluptate? Accusantium aliquid animi iusto mollitia nobis nulla, quisquam
                        reprehenderit? Dolores fuga officia quam repellendus!</p>
                </div>


            </div>
            <div class="service-block landing-text-block ">
                <div class="section-title"><sup class="number">03</sup>Ecommerce Development.</div>
                <div class="sm-text-wrapper">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur dolorem nam nostrum quam,
                        sapiente veritatis voluptate? Accusantium aliquid animi iusto mollitia nobis nulla, quisquam
                        reprehenderit? Dolores fuga officia quam repellendus!</p>
                </div>


            </div>
        </div>
        <div class="service-section-right col-lg-4 col-sm-4 col-xl-4 col-md-4">
            <div class="vert-section">
                <span class="vert-line"><span class="line-hide">Services</span></span>
            </div>

        </div>


        {#        <div class="left-col vh-100 col-sm-2 col-lg-2 col-xl-2">#}
        {##}
        {#        </div>#}

        {#<div class="right-col vh-100 col-sm-1 col-lg-1 col-xl-1">#}
        {##}
        {#</div>#}
    </div>
    <div class="row vh-100 service-section no-gutters">
        <div class="service-section-right col-lg-4 col-sm-4 col-xl-4 col-md-4">
            <div class="vert-section">
                <span class="vert-line"><span class="line-hide">Works</span></span>
            </div>

        </div>

        <div class="service-section-left col-lg-8 col-sm-8 col-xl-8 col-md-8">
            <div class="service-block landing-text-block ">
                <div class="section-title"><sup class="number">01</sup>Kivuli Tree Nusery.</div>
                <div class="sm-text-wrapper">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur dolorem nam nostrum quam,
                        sapiente veritatis voluptate? Accusantium aliquid animi iusto mollitia nobis nulla, quisquam
                        reprehenderit? Dolores fuga officia quam repellendus!</p>
                </div>


            </div>

        </div>


        {#        <div class="left-col vh-100 col-sm-2 col-lg-2 col-xl-2">#}
        {##}
        {#        </div>#}

        {#<div class="right-col vh-100 col-sm-1 col-lg-1 col-xl-1">#}
        {##}
        {#</div>#}
    </div>
{% endblock %}

{% block footer %}

{% endblock %}
{% block script %}
    {{ super() }}

{% endblock %}

