{% extends "base.html" %}

{% block title %}{{ super() }}{% endblock %}

{% block head %}
    {{ super() }}

{% endblock %}




{% block nav %}
    {{ super() }}
{% endblock %}

{% block sidebar %}
    {{ super() }}
{% endblock %}



{% block body %}
    <div id="process-page">

        <div class="row vh-100">
            <div class="vert-banner  d-flex flex-column col-md-3 col-lg-3 col-sm-3 col-xl-3 dot-bg">
                <div class="half-num number text-orange-bg text-orange-bg">01</div>

                <div class="banner-wrapper">
                    <div class="banner-text">
                        <div class="service-block p-20 ">

                            <div class="subtitle text-bg">Initial Meeting.</div>
                            <div class="sm-text-wrapper">
                                <p class="body text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                    Consectetur dolorem nam nostrum quam,
                                    sapiente veritatis voluptate? Accusantium aliquid animi iusto mollitia nobis nulla,
                                    quisquam
                                    reprehenderit? Dolores fuga officia quam repellendus!</p>
                            </div>


                        </div>

                    </div>
                </div>

            </div>
            <div class="vert-banner dot-bg d-flex flex-column col-md-3 col-lg-3 col-sm-3 col-xl-3">
                <div class="half-num number text-orange-bg">02</div>
                <div class="banner-wrapper">
                    <div class="banner-text">
                        <div class="service-block p-20 ">

                            <div class="subtitle text-bg">Discovery.</div>
                            <div class="sm-text-wrapper">
                                <p class="body text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                    Consectetur dolorem nam nostrum quam,
                                    sapiente veritatis voluptate? Accusantium aliquid animi iusto mollitia nobis nulla,
                                    quisquam
                                    reprehenderit? Dolores fuga officia quam repellendus!</p>
                            </div>


                        </div>

                    </div>
                </div>

            </div>
            <div class="vert-banner dot-bg d-flex flex-column col-md-3 col-lg-3 col-sm-3 col-xl-3">
                <div class="half-num number text-orange-bg">03</div>
                <div class="banner-wrapper">
                    <div class="banner-text">
                        <div class="service-block p-20 ">

                            <div class="subtitle text-bg">Design & Development.</div>
                            <div class="sm-text-wrapper">
                                <p class="body text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                    Consectetur dolorem nam nostrum quam,
                                    sapiente veritatis voluptate? Accusantium aliquid animi iusto mollitia nobis nulla,
                                    quisquam
                                    reprehenderit? Dolores fuga officia quam repellendus!</p>
                            </div>


                        </div>

                    </div>
                </div>

            </div>
            <div class="vert-banner dot-bg d-flex flex-column col-md-3 col-lg-3 col-sm-3 col-xl-3">
                <div class="half-num number text-orange-bg">04</div>
                <div class="banner-wrapper">

                    <div class="banner-text">
                        <div class="service-block p-20 ">

                            <div class="subtitle text-bg">Delivery.</div>
                            <div class="sm-text-wrapper">
                                <p class="body text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                    Consectetur dolorem nam nostrum quam,
                                    sapiente veritatis voluptate? Accusantium aliquid animi iusto mollitia nobis nulla,
                                    quisquam
                                    reprehenderit? Dolores fuga officia quam repellendus!</p>
                            </div>


                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}

{% endblock %}
{% block script %}
    {{ super() }}

{% endblock %}

