{% extends "base.html" %}

{% block title %}{{ super() }}{% endblock %}

{% block head %}
    {{ super() }}

{% endblock %}




{% block nav %}
    {{ super() }}
{% endblock %}

{% block sidebar %}
    {{ super() }}
{% endblock %}



{% block body %}
    <div id="process-page">

        <div class="row h-100">
            <div class="vert-banner  d-flex flex-column col-md-3 col-lg-3 col-sm-3 col-xl-3 dark-blue-bg">
                <div class="half-num number text-orange-bg text-orange-bg">01</div>

                <div class="banner-wrapper">
                    <div class="banner-text">
                        <div class="service-block p-20 ">

                            <div class="subtitle text-bg">Initial Meeting.</div>
                            <div class="sm-text-wrapper">
                                <p class="body text-white">We schedule a kickoff meeting between you and our team,
                                    either
                                    face-to-face or online in order for us to get all the information we need to start
                                    the process.Follow-up meetings may also be scheduled for project clarifications.
                                    We happily begin your project after signing off on this stage.
                                </p>
                            </div>


                        </div>

                    </div>
                </div>

            </div>
            <div class="vert-banner dark-blue-bg d-flex flex-column col-md-3 col-lg-3 col-sm-3 col-xl-3">
                <div class="half-num number text-orange-bg">02</div>
                <div class="banner-wrapper">
                    <div class="banner-text">
                        <div class="service-block p-20 ">

                            <div class="subtitle text-bg">Strategy & Discovery.</div>
                            <div class="sm-text-wrapper">
                                <p class="body text-white">This is were our team critically decides and plans on the
                                    appropriate approach for your project and the kind of technologies to be used for
                                    your
                                    project.In adittion, this stage acts as a guide for us as we kickoff the
                                    project.</p>
                            </div>


                        </div>

                    </div>
                </div>

            </div>
            <div class="vert-banner dark-blue-bg d-flex flex-column col-md-3 col-lg-3 col-sm-3 col-xl-3">
                <div class="half-num number text-orange-bg">03</div>
                <div class="banner-wrapper">
                    <div class="banner-text">
                        <div class="service-block p-20 ">

                            <div class="subtitle text-bg">Design & Development.</div>
                            <div class="sm-text-wrapper">
                                <p class="body text-white">At this stage we work side-by-side to ensure that we
                                    achieve the desired results together.From wireframing to prototyping we ensure that
                                    you are happy and satisfied at each stage of the design process.After signing off on
                                    the design stage we start the real development.That's where the engineering magic
                                    happens! </p>
                            </div>


                        </div>

                    </div>
                </div>

            </div>
            <div class="vert-banner dark-blue-bg d-flex flex-column col-md-3 col-lg-3 col-sm-3 col-xl-3">
                <div class="half-num number text-orange-bg">04</div>
                <div class="banner-wrapper">

                    <div class="banner-text">
                        <div class="service-block p-20 ">

                            <div class="subtitle text-bg">Delivery.</div>
                            <div class="sm-text-wrapper">
                                <p class="body text-white">After the final sign-off,we deploy your web application to
                                    the server and it will be up and running for your business to leverage.Everybody
                                    goes home happy and satisfied.</p>
                            </div>


                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
        {{ super() }}

{% endblock %}

{% block footer %}
    {{ super() }}
{% endblock %}
{% block script %}
    {{ super() }}

{% endblock %}

