{% extends "base.html" %}

{% block title %}{{ super() }}{% endblock %}

{% block head %}
    {{ super() }}

{% endblock %}




{% block nav %}
    {{ super() }}
{% endblock %}

{% block sidebar %}
    {{ super() }}
{% endblock %}

{% block body %}
    <div id="service-page">
    <div class="row vh-100">
            <div class="vert-banner  d-flex flex-column col-md-4 col-lg-4 col-sm-4 col-xl-4">
                <div class="half-num number">01</div>

                <div class="banner-wrapper">
                    <div class="banner-text">
                        <div class="service-block p-20 ">

                            <div class="subtitle black">Web Development.</div>
                            <div class="sm-text-wrapper">
                                <p class="body black">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                    Consectetur dolorem nam nostrum quam,
                                    sapiente veritatis voluptate? Accusantium aliquid animi iusto mollitia nobis nulla,
                                    quisquam
                                    reprehenderit? Dolores fuga officia quam repellendus!</p>
                            </div>


                        </div>

                    </div>
                </div>

            </div>
            <div class="vert-banner d-flex flex-column col-md-4 col-lg-4 col-sm-4 col-xl-4">
                <div class="half-num number">02</div>
                <div class="banner-wrapper">
                    <div class="banner-text">
                        <div class="service-block p-20 ">

                            <div class="subtitle black">UI Design.</div>
                            <div class="sm-text-wrapper">
                                <p class="body black">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                    Consectetur dolorem nam nostrum quam,
                                    sapiente veritatis voluptate? Accusantium aliquid animi iusto mollitia nobis nulla,
                                    quisquam
                                    reprehenderit? Dolores fuga officia quam repellendus!</p>
                            </div>


                        </div>

                    </div>
                </div>

            </div>
            <div class="vert-banner d-flex flex-column col-md-4 col-lg-4 col-sm-4 col-xl-4">

                <div class="half-num number">03</div>
                <div class="banner-wrapper">
                    <div class="banner-text">
                        <div class="service-block p-20 ">

                            <div class="subtitle black">Ecommerce Development.</div>
                            <div class="sm-text-wrapper">
                                <p class="body black">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                    Consectetur dolorem nam nostrum quam,
                                    sapiente veritatis voluptate? Accusantium aliquid animi iusto mollitia nobis nulla,
                                    quisquam
                                    reprehenderit? Dolores fuga officia quam repellendus!</p>
                            </div>


                        </div>

                    </div>
                </div>

            </div>
 
    </div>
    </div>
{% endblock %}

{% block footer %}
{{ super() }}
{% endblock %}
{% block script %}
    {{ super() }}

{% endblock %}

